<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"  href="{{url_for('static', filename = 'css/main.css')}}">
	<title>British Sign Language Translator</title>
</head>
<body>
	<h1>Should I trust this translator?</h1>
	<img src="https://raw.githubusercontent.com/SarahBour/web/main/disneyyy.png">
	<br>
	<p>I understand the importance of accurate and reliable translation services, especially in British Sign Language (BSL). To showcase the proficiency of my BSL translator, I have here a real-time translation of a youtube video featuring Disney character names in BSL, along with a list of the expected output for each character name.</p>
	<br>
	<dt>1. Anna</dt>
	<dt>2. Elsa</dt>
	<dt>3. Baloo</dt>
	<dt>4. Alice</dt>
	<dt>5. Daisy</dt>
	<dt>6. Chip</dt>
	<dt>7. Buzz</dt>
	<dt>8. Woody</dt>
	<dt>9. Bolt</dt>
	<dt>10. Belle</dt>
	<dt>11. Donald</dt>
	<dt>12. Tigger</dt>
	<dt>13. Rafiki</dt>
	<dt>14. Ariel</dt>
	<dt>15. Sulley</dt>
	<dt>16. Hades</dt>
	<dt>17. Stitch</dt>
	<dt>18. Mulan</dt>
	<dt>19. Sleepy</dt>
	<dt>20. Jessie</dt>
	<dt>21. Pocahontas</dt>
	<dt>22. Hercules</dt>
	<dt>23. Phineas</dt>
	<dt>24. Flora</dt>
	<dt>25. Jasmine</dt>
	<dt>26. Tinkerbell</dt>
	<dt>27. Merida</dt>
	<dt>28. Gaston</dt>
	<dt>29. Frozone</dt>
	<dt>30. Cindrella</dt>
	<br>
	<div class = "buttons">
		<button onclick = "location.href = '{{url_for('ytb')}}'">Check the translation</button>
	</div>
	<img src="https://raw.githubusercontent.com/SarahBour/web/main/_e36d11a3-a649-4c50-9ea2-96e1674a2a35.jpg">




</body>
</html>